/* US Behavioral Health Profiles - color theme
   Source: https://github.com/HL7/us-behavioral-health-profiles/tree/main/custom-template */

:root {
  --ig-status-text-color: maroon;           /* 1. IG Title and status text color */
  --navbar-bg-color: #005ea2;               /*  2. Header container */
  --footer-bg-color: #005ea2;               /*  3. Footer background */
  --footer-container-bg-color: #005ea2;     /*  4. Footer container */
  --stripe-bg-color: #999999;               /*  5. Header strip */
  --btn-hover-color: #014384;               /*  6. Menu button hover */
  --btn-active-color: #559575;              /*  7. Menu button active */
  --btn-text-color: #e6e6e6;                /*  8. Menu button text */
  --btn-gradient-start-color: #428bca;      /*  9. Menu item gradient start */
  --btn-gradient-end-color: #357ebd;        /* 10. Menu item gradient end */
  --btn-gradient-start-color-alpha: #ff428bca; /* 11. Gradient start (alpha) */
  --btn-gradient-end-color-alpha: #ff357ebd;   /* 12. Gradient end (alpha) */
  --link-color: #428bca;                    /* 13. Hyperlink text */
  --link-hover-color: #2a6496;              /* 14. Hyperlink text hover */
  --publish-box-bg-color: yellow;           /* 15. Publish box background color */
  --publish-box-border: 1px solid #0A0008;  /* 16.  Publish box border definition */
  --toc-box-bg-color: #ffeb7e;              /* 17. TOC box background */
  --toc-box-border: 1px solid navy;         /* 18. TOC box border */
  --stu-note-background-color: #fff2ff;     /* 19. STU note background */
  --stu-note-border-left-color: #ffa0ff;    /* 20. STU note border */
  --footer-hyperlink-text-color: #FFFFFF;   /* 25. Footer hyperlink text */
}
